<div class="row mb-3">
    <div class="col-2 col-lg-1">
        <img class="" style="width: 5rem;" [src]="'images/' + film.image" alt="Film image cap">
    </div>
    <div class="col-10 col-lg-11">
        <h4>{{film.titre}}</h4>
        <p>durée: {{film.duree.hours}}h {{film.duree.minutes}}</p>
        <button class="btn btn-outline-primary">Voir les Séances</button>
    </div>
</div>

